<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                <h2 class="inline pull-left">Adressevask</h2>

            </div>
        </div>
        <div class="row">
            <div class="col-xs-3">
                <label for="searchDescriptionTextBox">Søg efter beskrivelse</label>
            </div>
            <div class="col-xs-3">
                <label for="SearchDirtyStringTextBox">Søg efter beskidt adresse</label>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-3">
                <input id="searchDescriptionTextBox" k-options="autoCompleteOptions" ng-model="container.descriptionFilter" ng-change="descriptionTextChanged()" type="text" k-data-source="autoCompleteDataSource" k-data-value-field="'Description'" k-data-text-field="'Description'" kendo-auto-complete class="form-control fill-width" />
            </div>
            <div class="col-xs-3">
                <input id="SearchDirtyStringTextBox" k-options="autoCompleteOptions" ng-model="container.dirtyStringFilter" ng-change="dirtyStringTextChanged()" type="text" k-data-source="autoCompleteDataSource" k-data-value-field="'DirtyString'" k-data-text-field="'DirtyString'" kendo-auto-complete class="form-control fill-width" />
            </div>
            <div class="col-xs-2">
                <button class="btn btn-danger" ng-click="clearClicked()">Nulstil søgning</button>
            </div>
            <div class="col-xs-4 pull-right">
                <input id="includeCleanCheckbox" type="checkbox" ng-change="includeCleanChanged()" class="pull-right" ng-model="container.includeClean" />
                <label class="pull-right margin-right-10" for="includeCleanCheckbox">Vis også vaskede adresser</label>
            </div>

            <div class="col-xs-12">
                <div kendo-grid="container.grid" class="margin-top-10 scrollable" options="dirtyAddresses"></div>
            </div>
        </div>

    </div>
</div>