<appSettings>
  <add key="SMTP_PASSWORD" value="Indtast smtp password"/>
  <add key="SMTP_HOST" value="Indtast smtp host adresse"/>
  <add key="SMTP_USER" value="Indtast smtp bruger"/>
  <add key="SMTP_HOST_PORT" value="1234"/>
  <add key="MAIL_FROM_ADDRESS" value="Indtast fra email-adresse"/>
  <add key="MAIL_SUBJECT" value="Indtast emne til mails"/>
  <add key="MAIL_BODY" value="Indtast indhold til mails"/>
</appSettings>