<div>
    <p>Indtast adresse:</p>
    <table>
        <tr>
            <th>
                Adresse
            </th>
        </tr>

        <tr>
            <td>
                <input type="text" id="AddressField" />
            </td>
            <td><input type="text" id="streetName"/></td>
            <td>
                <input type="text" id="streetBuildingIdentifier"/>
            </td>
            <td><input type="text" id="postCodeIdentifier"/></td>
        </tr>
    </table>
</div>