<connectionStrings>
  <!-- Default connection for OS2 database  -->
  <add name="DefaultConnection" providerName="MySql.Data.MySqlClient" connectionString="Data Source=; port=; Initial Catalog=; uid=; pwd=; CharSet=utf8; Allow User Variables=True" />
  <!-- DBUpdaterConnection for connection to data views with Persons and OrgUnits -->
  <add name="DBUpdaterConnection" connectionString="Data Source=; Initial Catalog=; user id=; password="/>
  <!-- DMZConnection for connection to app database in the DMZ -->
  <add name="DMZConnection" providerName="MySql.Data.MySqlClient" connectionString="Data Source=; port=; Initial Catalog=; uid=; pwd=; CharSet=utf8; Allow User Variables=True" />
</connectionStrings>