<connectionStrings>
  <!-- Default connection for OS2 database  -->
  <add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="Data Source=; Initial Catalog=; persist security info=True; Integrated Security=true;" />
  <!-- DBUpdaterConnection for connection to data views with Persons and OrgUnits -->
  <add name="DBUpdaterConnection" providerName="System.Data.SqlClient" connectionString="Data Source=; Initial Catalog=; persist security info=True; Integrated Security=true;"/>
</connectionStrings>