<appSettings>
  <add key="PROTECTED_SMTP_PASSWORD" value=""/>
  <add key="PROTECTED_SMTP_HOST" value=""/>
  <add key="PROTECTED_SMTP_USER" value=""/>
  <add key="PROTECTED_SMTP_HOST_PORT" value=""/>
  <add key="PROTECTED_MAIL_FROM_ADDRESS" value=""/>
  <add key="PROTECTED_MAIL_SUBJECT" value=""/>
  <add key="PROTECTED_MAIL_BODY" value=""/>

  <add key="PROTECTED_KMDFilePath" value=""/>
  <add key="PROTECTED_KMDBackupFilePath" value=""/>
  <add key="PROTECTED_KMDFileName" value=""/>
  <add key="PROTECTED_KMDHeader" value="--- KMD HEADER TEST ---"/>
  <add key="PROTECTED_KMDStaticNr" value=""/>
  <add key="PROTECTED_CommuneNr" value=""/>
  <add key="PROTECTED_KMDReservedNr" value=""/>
  <add key="PROTECTED_AdministrativeCostCenterPrefix" value=""/>
  <add key="PROTECTED_AdministrativeAccount" value=""/>

  <add key="UseSD" value="false"/>
  <add key="PROTECTED_SDUserName" value=""/>
  <add key="PROTECTED_SDUserPassword" value=""/>

  <add key="PROTECTED_institutionNumber" value=""/>
  <add key="PROTECTED_muniplicity" value=""/>

  <add key="MapStartStreetName" value=""/>
  <add key="MapStartStreetNumber" value=""/>
  <add key="MapStartZipCode" value=""/>
  <add key="MapStartTown" value=""/>

  <add key="PROTECTED_AD_DOMAIN" value=""/>
  <add key="PROTECTED_DailyErrorLogMail" value=""/>

  <add key="InformationHelpLink" value="InformationHelpLink"/>
  <add key="TableSortHelp" value="TableSortHelp"/>
  <add key="FourKmRuleHelpText" value="FourKmRuleHelpText"/>
  <add key="MobileTokenHelpText" value="MobileTokenHelpText"/>
  <add key="AlternativeWorkAddressHelpText" value="AlternativeWorkAddressHelpText"/>
  <add key="AlternativeHomeAddressHelpText" value="AlternativeHomeAddressHelpText"/>
  <add key="AlternativeWorkDistanceHelpText" value="AlternativeWorkDistanceHelpText"/>
  <add key="PrimaryLicensePlateHelpText" value="PrimaryLicensePlateHelpText"/>
  <add key="PersonalApproverHelpText" value="PersonalApproverHelpText"/>
  <add key="EmailHelpText" value="EmailHelpText"/>
  <add key="PurposeHelpText" value="PurposeHelpText"/>
  <add key="ReadReportCommentHelp" value="ReadReportCommentHelp"/>
  <add key="NoLicensePlateHelpText" value="NoLicensePlateHelpText"/>
  <add key="AccountHelpText" value="DmzSync"/>
  <add key="ShowSubbedHelpText" value="ShowSubbedHelpText"/>
  <add key="SixtyDaysRuleHelpText" value="SixtyDaysRuleHelpText"/>

  <add key="SEPTIMA_API_KEY" value=""/>
  <add key="AlternativeCalculationMethod" value="false"/>

  <add key="PROTECTED_CERTIFICATE_NAME" value="" />

  <add key="PROTECTED_DATABASE_VIEW_MEDARBEJDER" value="dbo.Medarbejder"/>
  <add key="PROTECTED_DATABASE_VIEW_ORGANISATION" value="dbo.Organisation"/>
  <add key="PROTECTED_DATABASE_VIEW_VACATION_BALANCE" value="dbo.VacationBalance"/>
  <add key="DATABASE_INTEGRATION" value="SOFD"/>

  <add key="ENABLED_APPLICATIONS" value="Vacation"/>
</appSettings>