<connectionStrings>
  <add name="DefaultConnection" providerName="MySql.Data.MySqlClient" connectionString="Data Source=localhost; port=3306; Initial Catalog=os2eindberetning; uid=os2eind; pwd=devpassword; CharSet=utf8; Allow User Variables=True" />
  <add name="DBUpdaterConnection" connectionString="data source=; initial catalog=; persist security info=True;user id=; password="/>
  <add name="DMZConnection" providerName="MySql.Data.MySqlClient" connectionString="Data Source=; port=; Initial Catalog=; uid=;  pwd=; CharSet=utf8; Allow User Variables=True" />
</connectionStrings>


  