<div class="panel panel-default">

    <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-user fa-fw"></i> Stedfortrædere/Godkendere</h3>
    </div>



    <div class="panel-body">
        
        <div class="row">
            <div class="col-md-12">
                <h2 class="pull-left">Stedfortrædere/Godkendere</h2>
            </div>
        </div>

        <div class="col-md-12">
            <div class="setting-area">
                <h2 ng-click="collapseSubstitute = !collapseSubstitute" class="margin-10">Opsatte stedfortrædere</h2>
                
                <div collapse="collapseSubstitute">
                    <div kendo-grid="container.substituteGrid" class="margin-10" options="substitutes"></div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="setting-area">
                <h2 ng-click="collapseApprove = !collapseApprove" class="margin-10">Opsatte personlige godkendere</h2>
                <div collapse="collapseApprove">
                    <div kendo-grid="container.approverGrid" class="margin-10" options="personalApprovers"></div>
                </div>
            </div>


        </div>

    </div>
</div>