<connectionStrings>
  <!-- Default connection for OS2 database  -->
  <add name="DefaultConnection" providerName="MySql.Data.MySqlClient" connectionString="Data Source=MySql01.intern.syddjurs.dk; port=3306; Initial Catalog=os2indberetning; uid=os2ind; pwd=Moopaem1; CharSet=utf8; Allow User Variables=True" />
  <!-- DBUpdaterConnection for connection to data views with Persons and OrgUnits -->
 <add name="DBUpdaterConnection" connectionString="data source=706sofd01.intern.syddjurs.dk; initial catalog=MDM; persist security info=True;user id=sofdeindberetning; password=soa2ieCh>e"/>
</connectionStrings>