<connectionStrings>
  <add name="DefaultConnection" providerName="MySql.Data.MySqlClient" connectionString="Data Source=localhost; port=3306; Initial Catalog=os2eindberetning; uid=os2eind; pwd=devpassword; CharSet=utf8; Allow User Variables=True" />
  <add name="DBUpdaterConnection" connectionString="data source=706sofd01.intern.syddjurs.dk;initial catalog=MDM;persist security info=True;user id=sofdeindberetning;password=soa2ieCh>e"/>
  
</connectionStrings>