<div id="page-wrapper">
    <div class="container-fluid">
        <div route-loader>
            <!-- Generate Favrskov gif here. I didnt have the color available. http://spiffygif.com/?color=6B2D52&length=45&radius=27&width=6&halo=false -->
            <img src="../../Content/loading.gif" alt="" class="center-block"/>
        </div>
        <div ui-view class="fill-width">
            
            
        </div>
    </div>
    <!-- /.container-fluid -->
</div>
