<div id="page-wrapper">
    <div class="container-fluid">
        <div ui-view class="fill-width margin-bottom-30">
            
            
        </div>
    </div>
    <!-- /.container-fluid -->
</div>
