.margin-top-15 {
    margin-top: 15px;
}

.margin-top-20 {
    margin-top: 20px;
}

.margin-top-28 {
    margin-top: 28px;
}

.margin-top-30 {
    margin-top: 30px;
}

.margin-right-10 {
    margin-right: 10px;
}

.margin-right-15 {
    margin-right: 15px;
}

.margin-right-20 {
    margin-right: 20px;
}

.margin-right-25 {
    margin-right: 25px;
}

.margin-5 {
    margin: 5px;
}

.margin-left-5 {
    margin-left: 5px;
}

.margin-left-10 {
    margin-left: 10px;
}

.margin-left-15 {
    margin-left: 15px;
}

.errorOutline {
    border: 2px solid red;
}

.info-popup {
    border-radius: 8px;
    border-style: solid;
    border-width: 1px;
    padding-left: 4px;
    padding-right: 4px;
}

a {
    cursor: hand;
    cursor: pointer;
}

.rounded-border {
    border: 1px solid;
    border-radius: 20px;
    border-color: #8a2be2;
}

.margin-top-5 {
    margin-top: 5px;
}

.margin-10 {
    margin: 10px;
}

.margin-15 {
    margin: 15px;
}

.no-border {
    border: none;
}

.inline {
    display: inline;
}

.vertical-text-bottom {
    vertical-align: bottom;
}

.margin-top-10 {
    margin-top: 10px;
}

.margin-top-40 {
    margin-top: 40px;
}

.k-tooltip {
    text-align: left;
    padding: 1em;
}

.k-group {
    display: inline-block;
    text-align: left;
    /*width: 200px;*/
    white-space: nowrap;
    /*padding: 2em;*/
    margin: 6px;
}

.margin-bottom-5 {
    margin-bottom: 5px;
}

.margin-bottom-10 {
    margin-bottom: 10px;
}

.margin-bottom-20 {
    margin-bottom: 20px;
}

.margin-bottom-30 {
    margin-bottom: 30px;
}

.margin-bottom-40 {
    margin-bottom: 40px;
}

.nav-tabs.nav > .active > a, .nav-tabs.nav > .active > a:focus, .nav-tabs.nav > .active > a:hover {
    color: #fff;
    opacity: 0.75;
    border-color: #ddd;
}

.nav-tabs.nav > li > a {
    border-bottom: none;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border: #ddd;
    border-style: solid;
    border-width: 1px;
    color: #555;
    margin: 0;
}



.k-combobox {
    width: 100% !important;
    max-width: none;
}

    .k-combobox .k-input {
        max-width: none;
        width: 100%;
    }

.setting-area {
    background-color: #dddddd;
    border: 5px solid #fff;
}

a.informationHelpLink {
    color: white;
    text-decoration: underline;
}


.modal-dialog {
    right: auto;
    left: auto;
    width: 600px;
    padding-top: 30px;
    padding-bottom: 30px;
}

li.mainMenuLink.active {
    text-decoration: underline !important;
    text-decoration-color: white !important;
    color: white !important;
}

li.mainMenuLink > a {
    color: white !important;
}

    li.mainMenuLink > a:hover {
        text-decoration: underline !important;
    }

a:hover > i.fa {
    text-decoration: underline !important;
}

li.mainMenuLink.active > a > i.fa {
    text-decoration: underline !important;
}

.new-token-btn {
    width: 79%;
}

.k-pager-wrap .k-dropdown {
    width: 5.000em !important;
}

.close-token-modal {
    width: 19%;
}

.seperator {
    margin-top: 20px;
}

.margin-right-5 {
    margin-right: 5px;
}

.no-max-width {
    max-width: none;
}

.min-height-100 {
    min-height: 100px;
}

.max-width-100 {
    max-width: 100px;
}

.max-width-100p {
    max-width: 100%;
}

.fill-width {
    width: 100% !important;
}

.fill-fifty {
    width: 50%;
}

.fill-90 {
    width: 90%;
}

.set-margin-top-10 {
    margin-top: 10px;
}

/*CUSTOM CSS FOR NOTIFICATION SERVICE*/
.errors-container {
    position: fixed;
    z-index: 2000;
    bottom: 0;
    left: 0;
    right: 0;
}
    /* line 554, C:/Users/larsvonqualen/development/cheetah-webapp/src/cheetah-webapp/cheetah.webapp.WebAPI/Content/app/style/sass/app.scss */
    .errors-container .alert {
        -webkit-border-radius: 0 !important;
        border-radius: 0 !important;
        border-bottom: 0;
        margin: 0;
    }
/*************************************/

.remove-box {
    border-color: #4d4d4d;
    background-color: #606060;
    -ms-border-radius: 2px;
    border-radius: 2px;
    min-height: 2.214em;
    width: 2.7em;
    vertical-align: middle;
    -moz-box-sizing: border-box;
    text-align: center;
    height: 2.7em;
    border-style: solid;
    border-width: 1px;
    color: #fff;
    outline: none;
    line-height: 2.4em;
}

    .remove-box:hover {
        background-color: #363636;
        border-color: #4d4d4d;
    }

.k-custom {
    height: 2.214em;
    line-height: 2.214em;
    padding: .177em 0;
    text-indent: .8em;
    border: 0;
    margin: 0;
}

    .k-custom .k-input {
        display: block;
    }

.k-button-no-shadow {
    box-shadow: none;
    border-color: #e5e5e5;
    -ms-border-radius: 1px;
    border-radius: 1px;
}

    .k-button-no-shadow:focus, .k-button-no-shadow:hover, .k-button-no-shadow:active {
        -webkit-box-shadow: 0 2px 6px rgba(0,0,0,0.2),0 2px 3px rgba(0,0,0,0.05);
        box-shadow: 0 2px 6px rgba(0,0,0,0.2),0 2px 3px rgba(0,0,0,0.05);
    }

/*CUSTOM CSS FOR NOTIFICATION SERVICE*/
.errors-container {
    position: fixed;
    z-index: 2000;
    bottom: 0;
    left: 0;
    right: 0;
}
    /* line 554, C:/Users/larsvonqualen/development/cheetah-webapp/src/cheetah-webapp/cheetah.webapp.WebAPI/Content/app/style/sass/app.scss */
    .errors-container .alert {
        -webkit-border-radius: 0 !important;
        border-radius: 0 !important;
        border-bottom: 0;
        margin: 0;
    }
/*************************************/

.m-t-l {
    margin-top: 5px;
}

.m-b-l {
    margin-bottom: 5px;
}

.opaque {
    opacity: 0.5;
}

.k-grid .k-header {
    font-weight: bold !important;
}

.k-grid {
    font-size: 11px;
}

.k-toolbar {
    border: none;
    margin: 0;
}

    .k-toolbar .k-split-button {
        border-radius: 4px;
    }

        .k-toolbar .k-split-button .k-button {
            margin: 0;
            color: #ffffff;
            background-color: #5cb85c;
            border-color: #4cae4c;
            text-align: center;
            vertical-align: text-top;
        }

            .k-toolbar .k-split-button .k-button:hover,
            .k-toolbar .k-split-button .k-button:focus,
            .k-toolbar .k-split-button .k-button:active,
            .k-toolbar .k-split-button .k-button.active,
            .open .dropdown-toggle.k-toolbar .k-split-button .k-button {
                color: #ffffff;
                background-color: #47a447;
                border-color: #398439;
            }

            .k-toolbar .k-split-button .k-button:active,
            .k-toolbar .k-split-button .k-button.active,
            .open .dropdown-toggle.k-toolbar .k-split-button .k-button {
                background-image: none;
            }

            .k-toolbar .k-split-button .k-button.disabled,
            .k-toolbar .k-split-button .k-button[disabled],
            fieldset[disabled] .k-toolbar .k-split-button .k-button,
            .k-toolbar .k-split-button .k-button.disabled:hover,
            .k-toolbar .k-split-button .k-button[disabled]:hover,
            fieldset[disabled] .k-toolbar .k-split-button .k-button:hover,
            .k-toolbar .k-split-button .k-button.disabled:focus,
            .k-toolbar .k-split-button .k-button[disabled]:focus,
            fieldset[disabled] .k-toolbar .k-split-button .k-button:focus,
            .k-toolbar .k-split-button .k-button.disabled:active,
            .k-toolbar .k-split-button .k-button[disabled]:active,
            fieldset[disabled] .k-toolbar .k-split-button .k-button:active,
            .k-toolbar .k-split-button .k-button.disabled.active,
            .k-toolbar .k-split-button .k-button[disabled].active,
            fieldset[disabled] .k-toolbar .k-split-button .k-button.active {
                background-color: #5cb85c;
                border-color: #4cae4c;
            }


.transparent-background {
    background: transparent;
}

.app-modal-window-full .modal-dialog {
    width: 95%;
}

.scrollable {
    overflow-x: auto;
}

.mainMenuCollapse {
    padding-left: 50px !important;
}

.k-ff {
    overflow: inherit !important;
}

.k-input:-ms-input-placeholder, .k-textbox:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #ccc;
}

    .k-textbox:-ms-input-placeholder:hover, .k-input:-ms-input-placeholder:hover { /* Internet Explorer 10-11 */
        color: #ccc;
    }

.navbar {
    border: none;
}

.to-front {
    z-index: 1000;
}

.modal-body {
    min-height: 140px;
}

.version-text {
    color: #868686;
    padding: 5px;
    position: fixed;
    bottom: 0;
    z-index: 9000002;
    left: 0;
}

.navbox {
    background-color: rgba(255,255,255,0.15);
    -webkit-backface-visibility: initial;
    backface-visibility: initial;
}

.navbox-center {
    width: 380px;
    margin: 0 auto;
}

.middle-navbox {
    display: table-cell;
    vertical-align: middle;
}

.outer-navbox {
    display: table;
    position: absolute;
    height: 90%;
    width: 100%;
}

.navbox-tiles {
    width: 100%;
    padding: 15px;
}

    .navbox-tiles .tile {
        display: block;
        background-color: rgba(0,0,0,0.2);
        width: 47.146%;
        height: 0;
        padding-bottom: 46%;
        float: left;
        border: 2px solid transparent;
        color: #fff;
        position: relative;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        -ms-transition: all .3s;
        -o-transition: all .3s;
        transition: all .3s;
    }

        .navbox-tiles .tile:not(:last-child) {
            margin-right: 4.54545454545455%;
        }

        .navbox-tiles .tile .icon {
            width: 100%;
            height: 100%;
            text-align: center;
            position: absolute;
            top: 0;
            left: 0;
        }

            .navbox-tiles .tile .icon .fa {
                font-size: 45px;
                position: absolute;
                top: 50%;
                left: 50%;
                -webkit-transform: translate(-50%, -50%);
                -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
                -webkit-backface-visibility: initial;
                backface-visibility: initial;
            }

        .navbox-tiles .tile .title {
            padding: 5px;
            font-size: 18px;
            position: absolute;
            bottom: 0;
            left: 0;
        }

        .navbox-tiles .tile:hover {
            border-color: #fff;
            text-decoration: none;
        }

    .navbox-tiles:after {
        content: '';
        display: table;
        clear: both;
    }

.k-radio {
    display: inline;
    opacity: 0;
    width: 0;
    margin: 0;
    -webkit-appearance: none;
    overflow: hidden;
}


.k-radio-label:before {
    top: 1px;
    left: 1px;
}

.pending-vacation-listgroup {
    max-height: 600px;
    overflow-y: auto;
}

.k-scheduler-timelineMonthview > tbody > tr:nth-child(1) .k-scheduler-table tr:nth-child(2) {
    display: none;
}

.force-text-left {
    text-align: left !important;
}

.vacation-sixthweek {
    /* background: repeating-linear-gradient(45deg, transparent, transparent 7px, rgba(0, 0, 0, 0.10) 4px, rgba(0, 0, 0, 0.10) 12px); */
    background: repeating-linear-gradient(45deg, transparent, transparent 10px, rgba(0, 0, 0, 0.10) 10px, rgba(0, 0, 0, 0.10) 20px);
}

.schedule-vacation-template {
    height: 100%;
}

.week-number-calendar {
    margin: 33px 0px 0px 0px;
    padding: 0px;
    float: left;
    width: inherit;
    border-right: none;
}

.week-number-calendar .k-link {
    cursor: default;
}

.calendar-week-empty {
    display: block;
    overflow: hidden;
    min-height: 1.8333em;
    line-height: 1.8333em;
    padding: 0 .45em 0 .1em;
    cursor: default;
}
