.nav-tabs.nav-justified>li>a {
    border-bottom: none;
    border-radius: 4px;
    border: none;
    color: #555;
}

.nav-tabs.nav-justified>.active>a, .nav-tabs.nav-justified>.active>a:focus, .nav-tabs.nav-justified>.active>a:hover {
    background-color: #F5F5F5;
    border-color: #ddd;
}

.k-combobox{
   width: 100% !important;
    max-width: none;
}

.k-combobox .k-input {
    max-width: none;
    width: 100%;
}