.nav-tabs.nav-justified > li > a {
    border-bottom: none;
    border-radius: 4px;
    border: none;
    color: #555;
}

.nav-tabs.nav-justified > .active > a, .nav-tabs.nav-justified > .active > a:focus, .nav-tabs.nav-justified > .active > a:hover {
    background-color: #F5F5F5;
    border-color: #ddd;
}

.k-combobox {
    width: 100% !important;
    max-width: none;
}

    .k-combobox .k-input {
        max-width: none;
        width: 100%;
    }

.setting-area {
    background-color: #dddddd;
    border: 5px solid #fff;
}

.modal-dialog {
    right: auto;
    left: auto;
    width: 600px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.token-list {
    right: auto;
    left: auto;
    margin-left: -40px;
}

.license-plate-list {
    right: auto;
    left: auto;
    margin-left: -40px;
}

.new-token-btn {
    width: 79%;
}

.close-token-modal {
    width: 19%;
}

.seperator {
    margin-top: 20px;
}

.no-max-width {
    max-width: none;
}

.fill-width {
    width: 100%;
}

.remove-box {
    border-color: #4d4d4d;
    background-color:#606060;
    -ms-border-radius:2px;
    border-radius:2px;
    min-height: 2.214em;
    width: 2.7em;
    vertical-align: middle;
    -moz-box-sizing: border-box;
    text-align: center;
    height: 2.7em;
    border-style: solid;
    border-width: 1px;
    color:#fff;
    outline: none;
    line-height: 2.4em;
}

.remove-box:hover {
    background-color: #363636;
    border-color: #4d4d4d;
}