<div class="panel panel-default">
    <div class="col-lg-12">
        <h2 class="inline pull-left">
            Overblik
        </h2>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-lg-12">
                <div class="col-lg-10">
                    <div kendo-scheduler="avpCtrl.scheduler" k-options="avpCtrl.schedulerOptions">
                    </div>
                </div>
                <div class="col-lg-2">
                    <div id="pendingVacationsList" class="list-group pending-vacation-listgroup">
                        <b class="list-group-item  list-group-item-info">Afventende indberetning</b>
                        <i class="list-group-item" ng-hide="avpCtrl.pendingVacations.length">Ingen afventende indberetning</i>
                        <a id="{{pV.key}}" class="list-group-item" ng-repeat="pV in avpCtrl.pendingVacations" ng-click="avpCtrl.goToDate(pV)">{{pV.firstName}} <br /> {{pV.dateFrom}} - {{pV.dateTo}}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
