<div ng-repeat="empl in employments track by $index" class="margin-right-15" style="padding-bottom: 10px; border-bottom: 1px solid #e5e5e5;">
    <div class="row margin-bottom-10">
        <div class="col-xs-12">
            <h4 class="inline">{{empl.Position + " - " + empl.OrgUnit.LongDescription}} </h4>{{"(" + empl.OrgUnit.Address.StreetName + " " + empl.OrgUnit.Address.StreetNumber + ", " + empl.OrgUnit.Address.ZipCode  + " " + empl.OrgUnit.Address.Town + ")"}}
        </div>
    </div>
    <div class="row">
        <div class="col-xs-7">
            Afvigende adresse <span class="info-popup" popover-append-to-body='true' ng-show="AlternativeWorkAddressHelpText" popover="{{AlternativeWorkAddressHelpText}}" popover-trigger="mouseenter"><i class="fa fa-question"></i></span>
        </div>
        <div class="col-xs-4">
            Afvigende km <span class="info-popup" popover-append-to-body='true' ng-show="AlternativeWorkDistanceHelpText" popover="{{AlternativeWorkDistanceHelpText}}" popover-trigger="mouseenter"><i class="fa fa-question"></i></span>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-7">

            <input ng-change="alternativeWorkAddressChanged($index)" type="text" kendo-auto-complete k-data-text-field="'tekst'" k-data-value-field="'tekst'"
                   k-data-source="SmartAddress" ng-model="alternativeWorkAddresses[$index]" class="fill-width" k-placeholder="'Skriv her'" />

        </div>
        <div class="col-xs-2">
            <input ng-model="alternativeWorkDistances[$index]" ng-change="alternativeWorkDistanceChanged($index)" type="text" class="form-control" />
        </div>
        <div class="col-xs-1 pull-left margin-right-20">
            <button ng-click="saveAlternativeWorkAddress($index)" class="btn btn-success">Gem</button>
        </div>

        <div class="col-xs-1 pull-left margin-right-5">
            <button ng-click="clearWorkClicked($index)" class="btn btn-danger">Nulstil</button>
        </div>


    </div>
</div>

