<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            Personlige indstillinger
        </h1>
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        <div class="row setting-area">
            <div class="col-lg-12">
                <div class="form-group form-inline">
                    <h3>Registreringsnumre</h3>

                    <label for="">Registreringsnummer på egen eller ægtefælles bil</label>
                    <div></div>
                    <input ng-enter="saveNewLicensePlate()" ng-model="newLicensePlate" kendo-auto-complete k-placeholder="'AB 12 345'" />
                    <input ng-enter="saveNewLicensePlate()" ng-model="newLicensePlateDescription" kendo-auto-complete k-placeholder="'Beskrivelse'" />
                    <button type="submit" class="btn btn-primary" ng-click="saveNewLicensePlate()">Tilføj</button>

                    <div class="row margin-5">
                        <div class="col-sm-3">
                            <p class="margin-5"><strong>Nummerplade</strong></p>
                        </div>
                        <div class="col-sm-3">
                            <p class="margin-5"><strong>Beskrivelse</strong></p>
                        </div>
                        <div class="col-sm-2">
                            <p class="margin-5"><strong>Primær</strong></p>
                        </div>
                        <div class="col-sm-1">
                            <span class="info-popup pull-right margin-5" ng-show="primaryLicensePlateHelpText" popover="{{primaryLicensePlateHelpText}}" popover-trigger="mouseenter"><i class="fa fa-question"></i></span>
                        </div>
                    </div>
                    <div class="row margin-5" ng-repeat="plate in licenseplates">
                        <div class="col-sm-3">
                            <p class="margin-5">{{ plate.Plate}}</p>
                        </div>
                        <div class="col-sm-3">
                            <p class="margin-5">{{plate.Description}}</p>
                        </div>
                        <div class="col-sm-1">
                            <p class="margin-5" ng-if="plate.IsPrimary"><i class="fa fa-check"></i></p>
                        </div>
                        <div class="col-sm-3">
                            <button ng-disabled="plate.IsPrimary" class="btn btn-primary pull-right" ng-click="makeLicensePlatePrimary(plate)">Gør primær</button>
                        </div>
                        <div class="col-md-1">
                            <button class="btn btn-danger pull-left margin-left-5" ng-click="openConfirmDeleteLicenseModal(plate)">Slet</button>
                        </div>
                    </div>


                    <div class="seperator"></div>
                </div>
            </div>
        </div>
        <div ng-controller="AlternativeAddressController" class="row setting-area">
            <div class="col-lg-12">
                <h3>Afvigende adresser</h3>
                <label for="">Hjemmeadresse: </label> ({{ homeAddress }})
                <div class="margin-right-15">
                    <div class="row">
                        <div class="col-xs-7">
                            <p class="pull-left">Afvigende adresse</p>
                            <span class="info-popup pull-left margin-left-5" ng-show="AlternativeHomeAddressHelpText" popover="{{AlternativeHomeAddressHelpText}}" popover-trigger="mouseenter"><i class="fa fa-question"></i></span>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-xs-7">

                            <input type="text" kendo-auto-complete ng-change="homeAddressChanged()" k-data-text-field="'tekst'" k-data-value-field="'tekst'"
                                   k-data-source="SmartAddress" ng-model="alternativeHomeAddress.string" class="fill-width" k-placeholder="'Skriv her'" />

                        </div>
                        <div class="col-xs-2">

                        </div>
                        <div class="col-xs-1 pull-left margin-right-20">
                            <button ng-click="saveAlternativeHomeAddress()" class="btn btn-success">Gem</button>
                        </div>

                        <div class="col-xs-1 pull-left margin-right-5">
                            <button ng-click="clearHomeClicked()" class="btn btn-danger">Nulstil</button>
                        </div>


                    </div>
                </div>
                <div class="seperator"></div>

                <label>Arbejdsadresser:</label><br />
                <div ng-include="'App/Settings/AlternativeWorkAddressTemplate.html'"></div>
            </div>
        </div>

        <div class="row setting-area">
            <div class="col-lg-12">
                <div class="form-group form-inline">
                    <h3>Mobiltokens til app</h3>

                    <label for="">Se eller opret tokens til din mobiltelefon</label>
                    <span class="info-popup" ng-show="mobileTokenHelpText" popover="{{mobileTokenHelpText}}" popover-trigger="mouseenter"><i class="fa fa-question"></i></span>
                    <div class="row margin-5">
                        <div class="col-sm-4">
                            <p class="margin-5"><strong>Token</strong></p>
                        </div>
                        <div class="col-sm-8">
                            <p class="margin-5"><strong>Beskrivelse</strong> (f.eks. arbejdstelefon eller telefonnummer)</p>
                        </div>

                    </div>
                    <div class="row margin-5" ng-repeat="token in tokens">
                        <div class="col-sm-4">
                            <p class="margin-5">{{ token.Token }}</p>
                        </div>
                        <div class="col-sm-4">
                            <p class="margin-5">{{ token.Description }}</p>
                        </div>
                        <div class="col-md-2 pull-right">
                            <button class="btn btn-danger pull-right margin-left-5" ng-click="openConfirmDeleteTokenModal(token)">Slet</button>
                        </div>
                    </div>

                    <div collapse="tokenIsCollapsed">
                        <div class="row margin-5">
                            <div class="col-sm-4"></div>
                            <div class="col-sm-4 margin-bottom-10">
                                <input ng-enter="saveToken()" ng-model="newTokenDescription" class="form-control fill-width" placeholder="Beskrivelse" />
                            </div>
                            <div class="col-md-2 pull-right">
                                <button class="btn btn-success pull-right margin-left-5" ng-click="saveToken()">Gem</button>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12 margin-bottom-5">

                        <button class="btn btn-primary pull-right fill-width" ng-click="newToken()"><span ng-if="tokenIsCollapsed">Opret ny token</span><span ng-if="!tokenIsCollapsed">Annuller</span></button>


                    </div>




                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="row setting-area">
            <div class="col-lg-12">
                <div class="form-group form-inline">
                    <h3>Personlige adresser</h3>
                    <div kendo-grid="gridContainer.personalAddressesGrid" class="scrollable" options="personalAddresses"></div>
                    <button class="btn btn-primary set-margin-top-10" ng-click="openAddressAddModal()">Tilføj ny personlig adresse</button>
                </div>
            </div>
        </div>
        <div class="row setting-area">
            <div class="col-lg-12">
                <div class="form-group form-inline">
                    <h3>Personlige ruter</h3>
                    <div kendo-grid="gridcontainer.personalRoutesGrid" class="scrollable" options="personalRoutes"></div>
                    <button class="btn btn-primary set-margin-top-10" ng-click="openRouteAddModal()">Tilføj ny personlig rute</button>
                </div>
            </div>
        </div>
        <div ng-if="showMailNotification" class="row setting-area">
            <div class="col-lg-12">
                <div class="form-group form-inline">
                    <h3>Mailadviseringer</h3>
                    <label for="">Send mig mailadviseringer om indberetninger til godkendelse:</label>
                    <div class="seperator"></div>
                    <div class="btn-group">
                        <label class="btn btn-success" ng-class="mailAdvice == 'No' ? 'opaque' : ''" ng-click="invertRecieveMail()" ng-model="mailAdvice" btn-radio="'Yes'">Ja tak</label>
                        <label class="btn btn-danger" ng-class="mailAdvice == 'Yes' ? 'opaque' : ''" ng-click=" invertRecieveMail()" ng-model="mailAdvice" btn-radio="'No'">Nej tak</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>