<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            Personlige indstillinger
        </h1>
    </div>
</div>
<div class="row" ng-controller="SettingController">
    <div class="col-lg-6">
        <div class="row setting-area">
            <div class="col-lg-12">
                <div class="form-group form-inline">
                    <h3>Diverse</h3>
                    
                    <label for="">Registreringsnummer på bil:</label>
                    <div></div>
                    <input ng-model="newLicensePlate" class="" kendo-masked-text-box k-mask="'&& && &&&'" placeholder="AB 12 345" />
                    <input ng-model="newLicensePlateDescription" class="k-textbox" placeholder="Kommentar" />
                    <button type="submit" class="btn btn-primary" ng-click="saveNewLicensePlate()">Tilføj</button>
                    <button class="btn btn-default" ng-click="isCollapsed = !isCollapsed">Vis nummerplader</button>
                    <div collapse="isCollapsed">
                        <div class="well well-lg">
                            <ul class="license-plate-list">
                                <li ng-repeat="plate in licenseplates">
                                    <pre><strong>{{plate.Description}}:{{ plate.Plate}}</strong><button class="btn btn-danger pull-right" ng-click="deleteLicensePlate(plate)">Slet</button></pre>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="seperator"></div>
                    <label for="">Afvigende afstand mellem hjemme- og arbejdsadresse:</label>
                    <span class="info-popup" popover="Du kan taste en afvigende afstand mellem bopæl og arbejdsplads ind hér, hvis systemet beregner en anden afstand end den du egentlig kører. HUSK! Denne afvigende afstand også er dén du skal indberette til rubrik 51 på din forskudsopgørelse ved Skat." popover-trigger="mouseenter"><i class="fa fa-question"></i></span>
                    <div></div>
                    <input ng-model="workDistanceOverride" class="k-textbox" placeholder="0" /><label>km</label>
                    <button type="submit" class="btn btn-primary" ng-click="setHomeWorkOverride()">Gem ændringer</button>
                </div>
            </div>
        </div>
        <div class="row setting-area">
            <div class="col-lg-12">
                <div class="form-group form-inline">
                    <h3>Afvigende adresser</h3>
                    <label for="">Afvigende hjemmeadresse:</label>
                    <div></div>
                    <input type="text" kendo-auto-complete k-data-text-field="'presentationString'" k-data-value-field="'presentationString'"
                           k-data-source="SmartAddress" ng-model="newAlternativeHomeAddress" class="fill-fifty" k-placeholder="'Skriv her'" />
                    <button type="submit" class="btn btn-primary" ng-click="saveAlternativeHomeAddress()">Gem afvigende hjemmeadresse</button>
                    <div class="seperator"></div>
                    <label for="">Afvigende arbejdsadresse:</label>
                    <div></div>
                    <input type="text" kendo-auto-complete k-data-text-field="'presentationString'" k-data-value-field="'presentationString'"
                           k-data-source="SmartAddress" ng-model="newAlternativeWorkAddress" class="fill-fifty" k-placeholder="'Skriv her'" />
                    <button type="submit" class="btn btn-primary" ng-click="saveAlternativeWorkAddress()">Gem afvigende arbejdsadresse</button>
                </div>
            </div>
        </div>
        <div class="row setting-area">
            <div class="col-lg-12">
                <div class="form-group form-inline">
                    <h3>Mailadviseringer</h3>
                    <label for="">Send mig mailadviseringer om indberetninger til godkendelse:</label>
                    <div class="seperator"></div>
                    <div class="btn-group">
                        <label class="btn btn-success" ng-click="invertRecieveMail()" ng-model="mailAdvice" btn-radio="'Yes'">Ja tak</label>
                        <label class="btn btn-danger" ng-click="invertRecieveMail()" ng-model="mailAdvice" btn-radio="'No'">Nej tak</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row setting-area">
            <div class="col-lg-12">
                <div class="form-group form-inline">
                    <h3>Mobiltokens til app</h3>
                    
                    <label for="">Se eller opret tokens til din mobiltelefon</label>
                    <span class="info-popup" popover="Der er også mulighed for at indberette befordring via en app. Mobiltoken bruges til at forbinde din mobile enhed med eIndberetning. Du kan høre mere om app’en ved din leder." popover-trigger="mouseenter"><i class="fa fa-question"></i></span>
                    <div class="col-md-12 margin-bottom-5">
                        <div>
                            <ol class="dl-horizontal token-list">
                                <li ng-repeat="token in tokens">
                                    <pre><strong>{{ token.Token }} | {{ token.StatusToPresent }} | {{ token.Description }}</strong><button class="btn btn-danger pull-right" ng-click="openConfirmDeleteTokenModal(token)">Slet</button></pre>
                                </li>
                            </ol>
                        </div>
                    </div>

                    <div class="col-md-12 margin-bottom-10">
                        <div collapse="tokenIsCollapsed">
                            <input ng-model="newTokenDescription" class="form-control  fill-fifty pull-left" placeholder="Beskrivelse" />
                            <button class="btn btn-success pull-right" ng-click="saveToken()">Gem</button>
                        </div>
                    </div>

                    <div class="col-md-12 margin-bottom-5">

                        <button class="btn btn-success pull-right fill-width" ng-click="newToken()">Opret ny token</button>


                    </div>




                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="row setting-area">
            <div class="col-lg-12">
                <div class="form-group form-inline">
                    <h3>Personlige adresser</h3>
                    <div kendo-grid="gridContainer.personalAddressesGrid" options="personalAddresses"></div>
                    <button class="btn btn-default set-margin-top-10" ng-click="openAddressEditModal()">Opret ny personlig adresse</button>
                </div>
            </div>
        </div>
        <div class="row setting-area">
            <div class="col-lg-12">
                <div class="form-group form-inline">
                    <h3>Personlige ruter</h3>
                    <div kendo-grid="gridcontainer.personalRoutesGrid" options="personalRoutes"></div>
                    <button class="btn btn-default set-margin-top-10" ng-click="openRouteEditModal()">Opret ny rute</button>
                </div>                
            </div>            
        </div>
    </div>
</div>