<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            Personlige indstillinger <small>Administrer personlige indstillinger</small>
        </h1>
    </div>
</div>
<div class="row" ng-controller="SettingController">
    <div class="col-lg-6">
        <div class="row setting-area">
            <div class="col-lg-12">
                <div class="form-group form-inline">
                    <h3>Diverse</h3>
                    
                    <label for="">Registreringsnummer på bil:</label>
                    <div></div>
                    <input ng-model="newLicensePlate" class="form-control" placeholder="AB 12 345" />
                    <input ng-model="newLicensePlateDescription" class="form-control" placeholder="VW Polo" />
                    <button type="submit" class="btn btn-primary" ng-click="saveNewLicensePlate()">Tilføj</button>
                    <button class="btn btn-default" ng-click="isCollapsed = !isCollapsed">Vis nummerplader</button>
                    <div collapse="isCollapsed">
                        <div class="well well-lg">
                            <ul class="license-plate-list">
                                <li ng-repeat="plate in licenseplates">
                                    <pre><strong>{{plate.Description}}: {{ plate.Plate }}</strong><button class="btn btn-danger pull-right" ng-click="deleteLicensePlate(plate)">Slet</button></pre>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="seperator"></div>
                    <label for="">Afstand mellem hjemme- og arbejdsadresse:</label>
                    <div></div>
                    <input ng-model="workDistanceOverride" class="form-control" placeholder="0" /><label>km</label>
                    <button type="submit" class="btn btn-primary" ng-click="setHomeWorkOverride()">Gem ændringer</button>
                </div>
            </div>
        </div>
        <div class="row setting-area">
            <div class="col-lg-12">
                <div class="form-group form-inline">
                    <h3>Afvigende adresser</h3>
                    <label for="">Afvigende hjemmeadresse:</label>
                    <div></div>
                    <input type="text" kendo-auto-complete k-data-text-field="'presentationString'" k-data-value-field="'presentationString'"
                           k-data-source="SmartAddress" ng-model="alternativeHomeAddress" class="fill-width" k-placeholder="'Skriv her'" />
                    <button type="submit" class="btn btn-primary" ng-click="saveAlternativeHomeAddress()">Gem afvigende hjemmeadresse</button>
                    <div class="seperator"></div>
                    <label for="">Afvigende arbejdsadresse:</label>
                    <div></div>
                    <input type="text" kendo-auto-complete k-data-text-field="'presentationString'" k-data-value-field="'presentationString'"
                           k-data-source="SmartAddress" ng-model="alternativeWorkAddress" class="fill-width" k-placeholder="'Skriv her'" />
                    <button type="submit" class="btn btn-primary" ng-click="saveAlternativeWorkAddress()">Gem afvigende arbejdsadresse</button>
                </div>
            </div>
        </div>
        <div class="row setting-area">
            <div class="col-lg-12">
                <div class="form-group form-inline">
                    <h3>Mailadviseringer</h3>
                    <label for="">Send mig mailadviseringer om indberetninger til godkendelse:</label>
                    <div class="seperator"></div>
                    <div class="btn-group">
                        <label class="btn btn-success" ng-click="invertRecieveMail()" ng-model="mailAdvice" btn-radio="'Yes'">Ja tak</label>
                        <label class="btn btn-danger" ng-click="invertRecieveMail()" ng-model="mailAdvice" btn-radio="'No'">Nej tak</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row setting-area">
            <div class="col-lg-12">
                <div class="form-group form-inline">
                    <h3>Mobil tokens</h3>
                    <label for="">Se eller opret tokens til din mobiltelefon</label>
                    <button class="btn btn-default" ng-click="openTokenModal()">Mine tokens</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="row setting-area">
            <div class="col-lg-12">
                <div class="form-group form-inline">
                    <h3>Personlige adresser</h3>
                    <div kendo-grid="gridcontainer.personalAddresses" options="personalAddresses" />
                </div>
            </div>
        </div>
        <div class="row setting-area">
            <div class="col-lg-12">
                <div class="form-group form-inline">
                    <h3>Personlige ruter</h3>
                    <div kendo-grid="gridcontainer.personalRoutes" options="personalRoutes" />
                </div>
            </div>
        </div>
    </div>
</div>