<div class="col-md-12 margin-bottom-5">
    <div>
        <ol class="dl-horizontal token-list">
            <li ng-repeat="token in tokens">
                <pre><strong>{{ token.Token }} | {{ token.StatusToPresent }} | {{ token.Description }}</strong><button class="btn btn-danger pull-right" ng-click="openConfirmDeleteTokenModal(token)">Slet</button></pre>
            </li>
        </ol>
    </div>
</div>

<div class="col-md-12 margin-bottom-10">
    <div collapse="tokenIsCollapsed">
        <input ng-model="newTokenDescription" class="form-control  fill-fifty pull-left" placeholder="Beskrivelse" />
        <button class="btn btn-success pull-right" ng-click="saveToken()">Gem</button>
    </div>
</div>

<div class="col-md-12 margin-bottom-5">

    <button class="btn btn-success pull-left new-token-btn" ng-click="newToken()">Opret ny token</button>
    <button class="btn btn-primary pull-right close-token-modal" ng-click="closeTokenModal()">OK</button>


</div>

   

