<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                <h2 class="inline pull-left">Afdelings-indstillinger</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-4 col-lg-2 pull-right">
                <button class="btn btn-danger fill-width" ng-click="clearClicked()">Nulstil søgning</button>
            </div>

            <div class="col-xs-4 col-lg-2 pull-right">
                <input type="text" k-options="autoCompleteOptions" kendo-auto-complete ng-change="orgUnitChanged($item)" ng-model="orgUnit.chosenUnit" placeholder="'Indtast beskrivelse'" k-data-source="orgUnits" k-data-value-field="'LongDescription'" k-data-text-field="'LongDescription'" class="form-control fill-width"/>
            </div>

            <div class="col-xs-4 col-lg-2 pull-right">
                <select kendo-drop-down-list="gridContainer.kmRule" k-options="kmRuleOptions" class="fill-width"></select>
            </div>


        </div>
        <div kendo-grid="gridContainer.grid" class="margin-top-10 scrollable" options="OrgUnits"></div>
    </div>
</div>