<appSettings>
  <add key="SMTP_PASSWORD" value="Indtast smtp password"/>
  <add key="SMTP_HOST" value="host.smtp.dk"/>
  <add key="SMTP_USER" value="Indtast smtp bruger"/>
  <add key="SMTP_HOST_PORT" value="1234"/>
  <add key="MAIL_FROM_ADDRESS" value="fra@email.dk"/>
  <add key="MAIL_SUBJECT" value="Indtast emne til mails"/>
  <add key="MAIL_BODY" value="Indtast indhold til mails"/>

  <add key="KMDFilePath" value="../..//KMD"/>
  <add key="KMDFileName" value="kmdFilNavn"/>
  <add key="KMDHeader" value="første linje i kmd fil"/>
  <add key="KMDStaticNr" value="1111"/>
  <add key="CommuneNr" value="2222"/>
  <add key="KMDReservedNr" value="3333"/>

  <add key="MapStartStreetName" value="Banegårdspladsen"/>
  <add key="MapStartStreetNumber" value="1"/>
  <add key="MapStartZipCode" value="8000"/>
  <add key="MapStartTown" value="Aarhus C"/>


  
  <add key="EmailHelpText" value="Email hjælpetekst"/>
  <add key="ReadReportCommentHelp" value="Hjælpetekst her"/>

  <add key="SEPTIMA_API_KEY" value=""/>
</appSettings>