<div id="wrapper" ng-class="{mainMenuCollapse: menuCollapse == true}">
    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <div class="navbar-brand" ng-click="menuCollapse = !menuCollapse">
                <i style="color: white" class="fa fa-bars"></i>
                <label href="#" style="color: white">OS2Indberetning</label>
            </div>
            <a ui-sref="default"><img class="pull-right margin-top-5" src="../../logo.png" alt="" /></a>
        </div>
        <!-- Top Menu Items -->
        <div class="pull-right margin-top-15 margin-right-10">
            <span style="color: #FFF">
                <a class="informationHelpLink" href="{{helpLink.text}}" target="_blank">Information og vejledning</a> -
                {{UserName}}
            </span>
        </div>
        <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
        <div ng-hide="menuCollapse">
            <div class="navbar-collapse ng-cloak">
                <ul class="nav navbar-nav side-nav" style="height: 100% !important; border-right: 1px; border: black">
                    <li ui-sref-active="active" class="mainMenuLink">
                        <a ui-sref="vacation.report"><i class="fa fa-plane margin-right-10"></i>Indberet ferie</a>
                    </li>
                    <li ui-sref-active="active" class="mainMenuLink">
                        <a ui-sref="vacation.myreports.pending"><i class="fa fa-fw fa-table margin-right-10"></i>Mine indberetninger</a>
                    </li>
                    <li ui-sref-active="active" class="mainMenuLink" ng-hide="!showApproveReports">
                        <a ui-sref="vacation.approvereports"><i class="fa fa-fw fa-edit margin-right-10"></i>Godkend indberetninger</a>
                    </li>
                    <li ui-sref-active="active" class="mainMenuLink" ng-hide="!showApproveReports">
                        <a ui-sref="vacation.approvereportssettings"><i class="fa fa-fw fa-users margin-right-10"></i>Stedfortrædere</a>
                    </li>
                    <li ui-sref-active="active" class="mainMenuLink" ng-hide="!showAdministration">
                        <a ui-sref="vacation.admin"><i class="fa fa-fw fa-wrench margin-right-10"></i>Administrator</a>
                    </li>
                    <li ng-click="menuCollapse = !menuCollapse" ui-sref-active="active" class="mainMenuLink" ng-hide="!showAdministration">
                        <a><i class="fa fa-angle-double-left fa-2x pull-right margin-right-5"></i></a>
                    </li>
                </ul>

            </div>
        </div>
        <div ng-hide="!menuCollapse">
            <div class="navbar-collapse ng-cloak">
                <ul class="nav navbar-nav side-nav" style="width: 50px !important; overflow: hidden">
                    <li ui-sref-active="active" class="mainMenuLink">
                        <a ui-sref="vacation.report"><i class="fa fa-plane"></i></a>
                    </li>
                    <li ui-sref-active="active" class="mainMenuLink">
                        <a ui-sref="vacation.myreports.pending"><i class="fa fa-fw fa-table"></i></a>
                    </li>
                    <li ui-sref-active="active" class="mainMenuLink" ng-hide="!showApproveReports">
                        <a ui-sref="vacation.approvereports"><i class="fa fa-fw fa-edit"></i></a>
                    </li>
                    <li ui-sref-active="active" class="mainMenuLink" ng-hide="!showApproveReports">
                        <a ui-sref="vacation.approvereportssettings"><i class="fa fa-fw fa-users margin-right-10"></i></a>
                    </li>
                    <li ui-sref-active="active" class="mainMenuLink" ng-hide="!showAdministration">
                        <a ui-sref="vacation.admin"><i class="fa fa-fw fa-wrench"></i></a>
                    </li>
                    <li ng-click="menuCollapse = !menuCollapse" ui-sref-active="active" class="mainMenuLink" ng-hide="!showAdministration">
                        <a><i class="fa fa-angle-double-right fa-2x"></i></a>
                    </li>
                </ul>

            </div>

        </div>

        <!-- /.navbar-collapse -->
    </nav>

    <div id="page-wrapper" style="min-height:500px;">
        <div class="container-fluid">
            <div ui-view class="fill-width margin-bottom-30">


            </div>
        </div>
    </div>
</div>
