<div class="modal-header">
    <h3 class="modal-title">Tilføj ny standardadresse.</h3>
</div>
<div class="modal-body">
    <div>
        <div class="form-group">
            <label class="margin-5">Adresse</label>
            <input type="text" kendo-auto-complete k-data-text-field="'tekst'" k-data-value-field="'tekst'"
                   k-data-source="SmartAddress" ng-model="Address.Name" class="fill-width no-max-width" k-placeholder="'Indtast adresse'" />
        
            <label class="margin-5">Beskrivelse</label>
            <input ng-enter="confirmSave()" type="text" class="form-control margin-5" ng-model="description" />
         
         
         
        </div>
    </div>

</div>
<div class="modal-footer">
    <div class="row">
        <div class="col-md-10">
            <button class="btn btn-success fill-width" style="margin: 5px" ng-click="confirmSave()">Gem</button>
        </div>
        <div class="col-md-2">
            <button class="btn btn-danger fill-width" style="margin: 5px" ng-click="cancelClicked()">Luk</button>
        </div>
    </div>
    
    

</div>