<div class="modal-header">
    <h3 class="modal-title">Tilføj ny adresse.</h3>
</div>
<div class="modal-body">
    <div>
        <div class="form-group">
            
            <label class="margin-5">Adresse</label>
            <input type="text" kendo-auto-complete k-data-text-field="'presentationString'" k-data-value-field="'presentationString'"
                   k-data-source="SmartAddress" ng-model="address" class="fill-width no-max-width margin-5" k-placeholder="'Skriv her'" />
        
            <label class="margin-5">Beskrivelse</label>
            <textarea type="text" class="form-control margin-5 min-height-100 max-width-100p" ng-model="description"></textarea>
         
         
         
        </div>
    </div>

</div>
<div class="modal-footer">
    <button class="btn btn-danger pull-right" style="margin: 5px" ng-click="cancel()">Annuller</button>
    <button class="btn btn-success pull-right" style="margin: 5px" ng-click="confirmSave()">Gem</button>

</div>