<appSettings>
  <add key="SMTP_PASSWORD" value="smtp password"/>
  <add key="SMTP_HOST" value="smtp.host.dk"/>
  <add key="SMTP_USER" value="brugernavn@smtp.dk"/>
  <add key="SMTP_HOST_PORT" value="1234"/>
  <add key="MAIL_FROM_ADDRESS" value="afsender@email.dk"/>
  <add key="MAIL_SUBJECT" value="Afventende indberetninger"/>
  <add key="MAIL_BODY" value="Indtast indhold til mails"/>
</appSettings>