<div class="modal-header">
    <h3 class="modal-title">Manglende registreringsnummer</h3>
</div>
<div class="modal-body">
    Det valgte transportmiddel kræver et registreringsnummer.
    Gå til "Personlige indstillinger" og angiv et registreringsnummer før du kan oprette tjenestekørselsindberetninger med dette transportmiddel.
</div>
<div class="modal-footer">
    <button class="btn btn-danger" ng-click="cancel()">Ikke nu</button>
    <button class="btn btn-success" ng-click="ok()">Tag mig derhen</button>
</div>
