<appSettings>
  <add key="KMDFilePath" value="/sti/til/kmd/mappe"/>
  <add key="KMDFileName" value="kmdFilNavn"/>
  <add key="KMDHeader" value="første linje i kmd fil"/>
  <add key="KMDStaticNr" value="1111"/>
  <add key="CommuneNr" value="2222"/>
  <add key="KMDReservedNr" value="3333"/>
</appSettings>