<div class="outer-navbox">
    <div class="middle-navbox">
        <div class="navbox-center">
            <div ng-if="hasAccess">
                <h3 style="color: white;">Hej {{CurrentUser.FirstName}}, hvad skal du indberette?</h3>
                <div class="navbox">
                    <div class="navbox-tiles">
                        <a ui-sref="drive.driving" class="tile">
                            <div class="icon">
                                <i class="fa fa-car"></i>
                            </div>
                            <span class="title">Kørsel</span>
                        </a>
                        <a ui-sref="vacation.report" class="tile">
                            <div class="icon">
                                <i class="fa fa-plane"></i>
                            </div>
                            <span class="title">Ferie</span>
                        </a>
                    </div>
                </div>
            </div>
            <div ng-if="!hasAccess">
                <h3 style="color: white;">Ingen adgang til OS2Indberetning.</h3>
            </div>
        </div>
    </div>
</div>