
<div class="panel panel-default">

    <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-envelope-o fa-fw"></i> Email adviseringer</h3>
    </div>


    <div class="panel-body">

        <div class="row">
            <div class="col-md-12">
                <h2 class="inline pull-left">Emailadviseringer</h2>
                <div class="pull-right">
                    <label>Visninger pr. side</label>
                    <select  ng-model="gridContainer.gridPageSize" kendo-drop-down-list class="form-control" ng-change="pageSizeChanged()">
                        <option value="5" selected>5</option>
                        <option value="10">10</option>
                        <option value="20">20</option>
                        <option value="50">50</option>
                    </select>
                </div>
               
            </div>


        </div>
        <div kendo-grid="gridContainer.notificationGrid" class="margin-top-10" options="notifications"></div>
        <button class="btn btn-primary col-md-2 margin-top-20 pull-right" ng-click="addNewClick()"><i class="fa fa-plus"></i> Opret</button>
    </div>
</div>
