<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header ng-hide" ng-show="!isEditingReport">
            Indberet tjenestekørsel
        </h1>

    </div>
</div>

<div class="row">

    <div class="col-sm-12 col-md-6">
        <form novalidate class="driving-report-form">
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group form-inline">
                        <label for="date">Dato for tjenestekørsel </label>
                        <input culture="'da-DK'" kendo-date-picker="container.driveDatePicker" k-max="container.datePickerMaxDate" k-format="'dd/MM/yyyy'" ng-model="notUsed" k-ng-model="DriveReport.Date" k-options="DateOptions" />
                    </div>
                </div>
            </div>
            <div class="row m-b-l">
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-sm-12">
                            <label for="purpose">Formål med tjenestekørsel </label>
                            <span ng-show="PurposeHelpText" popover="{{PurposeHelpText}}" popover-trigger="mouseenter" class="info-popup"><i class="fa fa-question"></i></span>

                        </div>
                    </div>
                    <input type="text" class="no-max-width fill-width k-textbox" placeholder="Skriv formålet med din tjenestekørsel" ng-model="DriveReport.Purpose" id="purpose" />
                    <label ng-if="purposeErrorMessage.length > 0" ng-bind="purposeErrorMessage" class="text-danger"></label>
                </div>
            </div>
            <div class="row m-b-l">
                <div class="col-lg-12">
                    <div class="form-group">
                        <label for="">Stilling og ansættelsested</label>
                        <select class="fill-width" kendo-drop-down-list="container.PositionDropDown" ng-model="DriveReport.Position" id="" ng-change="employmentChanged()" k-data-source="Employments" k-data-text-field="'PresentationString'" k-data-value-field="'Id'" k-placeholder="'Brugerens stilling(er)'"><option>' '</option></select>
                    </div>
                </div>
            </div>
            <div class="row m-b-l">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="">Nummerplade</label>
                        <select ng-disabled="!showLicensePlate" class="fill-width" kendo-drop-down-list="container.LicensePlateDropDown" ng-model="DriveReport.LicensePlate" id="" k-data-source="LicensePlates" k-data-text-field="'PresentationString'" k-data-value-field="'Plate'" k-placeholder="'Brugerens nummerplade(r)'"></select>
                        <label class="text-danger" ng-if="licensePlateErrorMessage.length > 0" ng-bind="licensePlateErrorMessage"></label>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="">Transportmiddel</label>
                        <select class="fill-width" kendo-drop-down-list="container.KmRateDropDown" ng-change="transportChanged()" ng-model="DriveReport.KmRate" k-data-source="KmRate" k-data-text-field="'Type.Description'" k-data-value-field="'Id'" k-placeholder="'Vælg transportmiddel'"></select>
                    </div>
                </div>
                <div class="col-sm-5">
                    <div class="form-group">
                        <label for="">Kilometeropgørelse</label>
                        <select kendo-drop-down-list="container.KilometerAllowanceDropDown" k-options="KilometerAllowanceOptions" ng-change="kilometerAllowanceChanged()" class="fill-width" id="KilometerAllowance" ng-model="DriveReport.KilometerAllowance">
                            <option value="Calculated">Beregnet</option>
                            <option value="Read">Aflæst</option>
                            <option value="CalculatedWithoutExtraDistance">Beregnet uden merkørsel</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row m-b-l" ng-show="DriveReport.KilometerAllowance == 'Read'">
                <div class=" col-lg-12">
                    <div class="form-group">
                        <label for="">Startede eller sluttede din rute hjemmefra</label>
                        <select data-ng-change="startEndHomeChanged()" class="fill-width" kendo-drop-down-list="container.StartEndHomeDropDown" ng-model="DriveReport.StartOrEndedAtHome">
                            <option value="Neither">Ingen af delene</option>
                            <option value="Started">Startede hjemmefra</option>
                            <option value="Ended">Sluttede hjemme</option>
                            <option value="Both">Startede og sluttede hjemme</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row" ng-show="DriveReport.KilometerAllowance != 'Read'">
                <div class="col-lg-12">
                    <div class="form-group">
                        <!--Dropdown for selecting personal route-->
                        <label for="">Vælg standardrute</label>
                        <select class="fill-width" kendo-drop-down-list="container.PersonalRouteDropDown" k-on-change="personalRouteDropdownChange(kendoEvent)" ng-model="DriveReport.PersonalRoute" k-data-source="Routes" k-data-text-field="'PresentationString'"></select>
                    </div>
                </div>
            </div>
            <div ng-switch="DriveReport.KilometerAllowance">
                <div ng-switch-when="Read">
                    <div class="row">
                        <div class="col-lg-6">
                            <label for="ReadDistance">Antal kørte kilometer</label>
                        </div>
                        <div class="col-lg-6">
                            <label for="UserComment">Kommentar</label>
                            <span ng-show="ReadReportCommentHelp" popover=" {{ReadReportCommentHelp}} " popover-trigger=" mouseenter" class="info-popup"><i class="fa fa-question"></i></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <input ng-model="DriveReport.ReadDistance" ng-change="readDistanceChanged()" id="ReadDistance" name="FourKmRuleValue" class="k-textbox" />
                        </div>
                        <div class="col-lg-6">
                            <input type="text" ng-model="DriveReport.UserComment" id="UserComment" name="UserComment" class="k-textbox fill-width" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <label ng-if="readDistanceErrorMessage.length > 0" ng-bind="readDistanceErrorMessage" class="text-danger"></label>
                        </div>
                        <div class="col-lg-6">
                            <label ng-if="userCommentErrorMessage.length > 0" ng-bind="userCommentErrorMessage" class="text-danger"></label>
                        </div>
                    </div>

                </div>
                <div ng-switch-default>
                    <label ng-if="addressSelectionErrorMessage.length > 0" ng-bind="addressSelectionErrorMessage" class="text-danger"></label>
                    <div ng-show="!IsRoute" ng-repeat="Address in DriveReport.Addresses">
                        <div class="row">
                            <div class="col-lg-12">
                                <label for="" ng-if="$first">Fra (Vælg adresse)</label>
                                <label for="" ng-if="$last && !$first">Til (Vælg adresse)</label>
                                <label for="" ng-if="!first && $index == 1 && !$last">Via (Vælg adresse)</label>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-sm-9">

                                <div ng-show="isAddressNameSet(DriveReport.Addresses[$index]) === false">
                                    <!--Dropdown for selecting standard addresses-->
                                    <select class="fill-width" kendo-drop-down-list="container.PersonalAddressDropDown" ng-model="DriveReport.Addresses[$index].Personal" ng-change="addressInputChanged($index)" k-data-source="PersonalAddresses" k-data-text-field="'PresentationString'" k-data-value-field="'address'" k-placeholder="'Brugerens Personlige adresser'"> </select>
                                </div>

                            </div>
                            <div ng-show="DriveReport.Addresses[$index].Personal == addressDropDownPlaceholderText">
                                <div class="col-sm-9">
                                    <!--Text field for adding addresses-->
                                    <div ng-if="$last">
                                        <input type="text" kendo-auto-complete="container.lastTextBox" k-data-text-field="'tekst'" k-data-value-field="'tekst'" ng-enter="" k-placeholder="addressPlaceholderText"
                                               k-data-source="SmartAddress" k-options="container.addressFieldOptions" ng-blur="addressInputChanged($index)" ng-model="DriveReport.Addresses[$index].Name" class="fill-width no-max-width" />
                                    </div>
                                    <div ng-if="!$last">
                                        <input type="text" kendo-auto-complete k-data-text-field="'tekst'" k-data-value-field="'tekst'" ng-enter="" k-placeholder="addressPlaceholderText"
                                               k-data-source="SmartAddress" k-options="container.addressFieldOptions" ng-blur="addressInputChanged($index)" ng-model="DriveReport.Addresses[$index].Name" class="fill-width no-max-width" />
                                    </div>
                                    
                                </div>


                            </div>
                            <div class="col-sm-3">
                                <!-- checkbox indicating if a address should be saved-->
                                <span ng-show="DriveReport.Addresses[$index].Personal == addressDropDownPlaceholderText">
                                    <input type="checkbox" class="k-checkbox" id="AdressSave-{{$index}}" ng-model="Address.Save" ng-enter="" />
                                    <label for="AdressSave-{{$index}}" class="k-checkbox-label">Gem</label>
                                </span>

                                <button ng-if="$middle" class="k-button k-button-no-shadow" ng-enter="" ng-click="Remove(DriveReport.Addresses, $index)"><i class="fa fa-times"></i></button>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
            <div class="row" ng-show="DriveReport.KilometerAllowance != 'Read'">
                <div class="col-lg-12" ng-show="!IsRoute">
                    <label>
                        <button class="btn btn-default" ng-enter="" ng-click="AddViapoint()">Tilføj delmål</button>
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">

                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 margin-bottom-30" style="margin-left: -15px">
                    <div ng-show="hasAccessToFourKmRule" class="col-sm-12 margin-bottom-10">
                        <input type="checkbox" class="k-checkbox" ng-change="fourKmRuleChanged()" id="FourKmRule" ng-model="DriveReport.FourKmRule.Using" /><label for="FourKmRule" class="k-checkbox-label">Jeg bruger 4 Km-reglen</label>
                        <span ng-show="fourKmRuleHelpText" popover="{{fourKmRuleHelpText}}" popover-trigger="mouseenter" class="info-popup"><i class="fa fa-question"></i></span>
                    </div>
                    <div class="col-lg-12 margin-bottom-10">
                        <input type="checkbox" class="k-checkbox" id="returnTrip" ng-change="roundTripChanged()" ng-model="DriveReport.RoundTrip" /><label for="returnTrip" class="k-checkbox-label">Tur + retur</label>
                    </div>
                </div>
                <div ng-show="DriveReport.FourKmRule.Using" class="col-sm-6">
                    <div class="col-lg-12">
                        <input type="text" ng-enter="" ng-change="fourKmRuleChanged()" ng-model="DriveReport.FourKmRule.Value" id="FourKmRuleValue" name="FourKmRuleValue" class="k-textbox" placeholder="4 km-regel værdi" /> km
                        <label ng-if="fourKmRuleValueErrorMessage.length > 0" ng-bind="fourKmRuleValueErrorMessage" class="text-danger"></label>
                    </div>
                </div>
            </div>

            <div class="row margin-bottom-5">
                <div class="col-sm-6">
                    <button type="button" ng-enter="" ng-click="clearClicked()" class="btn btn-danger">Nulstil</button>
                </div>
                <div class="col-sm-6 pull-right text-right">
                    <button type="button" ng-disabled="saveBtnDisabled" ng-enter="" class="btn btn-primary" ng-click="Save()">Indberet</button>
                </div>
            </div>
        </form>
    </div>
    <div class="col-sm-12 col-md-6">

        <div class="row">
            <div class="col-lg-12" style="height:500px">
                <div id="map" style="width:100%;height:100%;"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <p class="text-primary">Kørte kilometer</p>
            </div>
            <div class="col-sm-6 text-right">
                {{Number(DrivenKMDisplay).toFixed(2).toString().replace(".",",")}} km
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <p class="text-primary">Merkørselsfradrag</p>
            </div>
            <div class="col-sm-6 text-right">
                {{Number(TransportAllowance).toFixed(2).toString().replace(".",",")}} km
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <p class="text-primary">Kilometer til indberetning</p>
            </div>
            <div class="col-sm-6 text-right">
                <div ng-if="Number(DrivenKMDisplay > Number(TransportAllowance))">
                    {{ Number(Number(DrivenKMDisplay).toFixed(2) - Number(TransportAllowance).toFixed(2)).toFixed(2).toString().replace(".",",")  }} km
                </div>
                <div ng-if="Number(DrivenKMDisplay <= Number(TransportAllowance))">
                    0 km
                </div>

            </div>
        </div>
    </div>

</div>
