<div class="modal-header">
    <h3 class="modal-title">Redigering af app-indberetning</h3>
</div>
<div class="modal-body">
    OBS: Ved redigering af indberetninger fra mobil laves ruten ud fra de angivede adresser og almindelig ruteberegning, og <i>ikke</i> de tilhørende GPS-målinger. Vær derfor ekstra opmærksom på at din indberetning er korrekt efter redigering.
</div>
<div class="modal-footer">
    <button class="btn btn-danger" ng-click="cancel()">Annuller</button>
    <button class="btn btn-success" ng-click="ok()">Det er forstået</button>
</div>
