<appSettings>
  <add key="PROTECTED_SMTP_PASSWORD" value="Indtast smtp password"/>
  <add key="PROTECTED_SMTP_HOST" value="host.smtp.dk"/>
  <add key="PROTECTED_SMTP_USER" value="Indtast smtp bruger"/>
  <add key="PROTECTED_SMTP_HOST_PORT" value="1234"/>
  <add key="PROTECTED_MAIL_FROM_ADDRESS" value="fra@email.dk"/>
  <add key="PROTECTED_MAIL_SUBJECT" value="Indtast emne til mails"/>
  <add key="PROTECTED_MAIL_BODY" value="Indtast indhold til mails om afventende indrapporteringer"/>

  <add key="PROTECTED_KMDFilePath" value="../..//KMD"/>
  <add key="PROTECTED_KMDBackupFilePath" value="../..//KMDBACKUP"/>
  <add key="PROTECTED_KMDFileName" value="kmdFilNavn"/>
  <add key="PROTECTED_KMDHeader" value="første linje i kmd fil"/>
  <add key="PROTECTED_KMDStaticNr" value="1111"/>
  <add key="PROTECTED_CommuneNr" value="2222"/>
  <add key="PROTECTED_KMDReservedNr" value="3333"/>

  <add key="PROTECTED_AdministrativeCostCenterPrefix" value="1012"/>
  <add key="PROTECTED_AdministrativeAccount" value=""/>

  <add key="MapStartStreetName" value="Lundbergsvej"/>
  <add key="MapStartStreetNumber" value="2"/>
  <add key="MapStartZipCode" value="8400"/>
  <add key="MapStartTown" value="Ebeltoft"/>

  <add key="PROTECTED_AD_DOMAIN" value=""/>

  <add key="InformationHelpLink" value="http://www.google.dk"/>
  <add key="TableSortHelp" value="Du kan klikke på kolonnetitlerne for at sortere tabellen."/>
  <add key="FourKmRuleHelpText" value="4 km reglen kan kun bruges af medarbejdere ansat i hjemmeplejen. Forhør dig ved din leder, hvis du er i tvivl."/>
  <add key="MobileTokenHelpText" value="Der er også mulighed for at indberette befordring via en app. Mobiltoken bruges til at forbinde din mobile enhed med eIndberetning. Du kan høre mere om app’en ved din leder."/>
  <add key="AlternativeWorkAddressHelpText" value="Hvis systemet beregner en anden afstand end den du egentlig kører, kan du her indtaste en afvigende afstand mellem bopæl og arbejdsplads. HUSK! Denne afvigende afstand også er dén du skal indberette til rubrik 51 på din forskudsopgørelse ved Skat."/>
  <add key="PrimaryLicensePlateHelpText" value="Den primære nummerplade bruges ved mobil-indberetninger."/>
  <add key="PersonalApproverHelpText" value="Du kan oprette en afvigende godkender for en enkelt medarbejder, således denne medarbejders indberetning sendes til en anden godkender, end den der normalt godkender vedkommendes indberetninger. Typisk foretages denne type afvigelser på person niveau på ledere, chefer eller direktører. Der kan kun oprettes afvigende godkendere for underliggende niveauer (det vil sige chefer kan oprette for ledere som eksempel)."/>
  <add key="EmailHelpText" value="Email hjælpetekst"/>
  <add key="PurposeHelpText" value="Formål hjælpetekst"/>
  <add key="ReadReportCommentHelp" value="Hjælpetekst her"/>
  <add key="PROTECTED_SEPTIMA_API_KEY" value=""/>
</appSettings>
