<appSettings>
  <add key="PROTECTED_SMTP_PASSWORD" value="Indtast smtp password"/>
  <add key="PROTECTED_SMTP_HOST" value="host.smtp.dk"/>
  <add key="PROTECTED_SMTP_USER" value="Indtast smtp bruger"/>
  <add key="PROTECTED_SMTP_HOST_PORT" value="1234"/>
  <add key="PROTECTED_MAIL_FROM_ADDRESS" value="fra@email.dk"/>
  <add key="PROTECTED_MAIL_SUBJECT" value="Indtast emne til mails"/>
  <add key="PROTECTED_MAIL_BODY" value="Indtast indhold til mails"/>

  <add key="PROTECTED_KMDFilePath" value="/sti/til/kmd/mappe"/>
  <add key="PROTECTED_KMDFileName" value="kmdFilNavn"/>
  <add key="PROTECTED_KMDHeader" value="første linje i kmd fil"/>
  <add key="PROTECTED_KMDStaticNr" value="1111"/>
  <add key="PROTECTED_CommuneNr" value="2222"/>
  <add key="PROTECTED_KMDReservedNr" value="3333"/>
</appSettings>