<div ng-controller="ExampleController">
    <form class="form-horizontal" ng-submit="addNewProduct()">
        <input type="text" ng-model="newProductName" size="30"
               placeholder="product name">
        <input type="text" ng-model="newProductPrice" size="5"
               placeholder="product price">
        <button class="btn" type="submit" value="add">
            <i class="icon-plus"></i>
        </button>
    </form>
    <table class="table table-striped table-hover" style="width: 500px;">
        <thead>
            <tr>
                <th>Name</th>
                <th>Price</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="product in products">
                <td>{{product.Name}}</td>
                <td>${{product.Price}}</td>
                <td>
                    <button class="btn-small" ng-click="deleteProduct(product.Id)">
                        <i class="icon-trash"></i>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>

</div>
