<div class="panel panel-default">





    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                <h2 class="inline pull-left">Organisationsenheder</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-2 col-lg-1 pull-right">
                <button class="btn btn-danger pull-right margin-right-15" ng-click="clearClicked()">Nulstil</button>
            </div>

            <div class="col-xs-4 col-lg-2 pull-right">
                <input type="text" kendo-auto-complete ng-change="orgUnitChanged($item)" ng-model="orgUnit.chosenUnit" placeholder="'Indtast beskrivelse'" k-data-source="typeAheadOrgUnits" k-data-value-field="'ShortDescription'" k-data-text-field="'ShortDescription'" class="form-control" />
            </div>
        </div>
            <div kendo-grid="gridContainer.grid" class="margin-top-10 scrollable" options="OrgUnits"></div>
    </div>
</div>